*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
 
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');*/

html{
    /* Cores no geral */
    --linear: #5498FF;
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    /* Tons de cinza */
    --grey-black: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-mediun: #D3D9E2;
    --grey-light: #E5EAF1;

    /* Cores para alteração nos botões */
    --blue-hover: #5699FF;
    --red-hover: #EA4B65;
    --grey-hover: #8794A7;
}

body{
    display: flex;
    background-color: var(--background);
    height: 100vh;
}

header{
    margin-left: 8rem;
    margin-top: 2rem;
}

a{
    text-decoration: none;
}
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h2, button{
    font-family: Poppins, sans-serif;
    margin-bottom: 1rem; 
    color: var(--black);
}

.formatacao_botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    padding: .5rem;
    margin: 5px auto;
    border-radius: 8px;
    cursor:pointer;
}

.formatacao_botao img{
    padding: 0 2px;
}