body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 
    'header header'
    'left right'
    ;
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url('../assets/Ilustracao.svg') no-repeat top/contain;
    background-position-x: -2rem;
    background-position-y: -1rem;
}

main{
    grid-area: right;
}

section{
    margin-top: 4rem;
}

.flex-direction-main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    width: 21rem;
}

section input{
    padding: .8rem;
    border:2px solid var(--grey-blue);
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

#room-id, #room-pass{
    margin-bottom: 1rem;
}

section form > button{
    background-color: var(--blue);
    color: var(--white);
}

section div button{
    background-color: var(--white);
    border: 2px solid var(--blue);
}

section div button a{
    color: var(--blue);
}

section div p{
    color: var(--grey-blue);
    font-family: Poppins, sans-serif;
    font-weight: 200;
}

#ou{
    margin:1.5rem;
    display: flex;
    width: 100%;
    align-items: center;
}

#ou div:nth-child(2){
    margin: 0 .8rem;
}

#ou div:nth-child(1),
#ou div:nth-child(3){
    background-color: var(--grey-blue);
    width: 100%;
    height: 1px;
}

/* Estilizando as bolas */

.bola{
    width: 35rem;
    height: 30rem;
    background-color: var(--blue);
    clip-path: circle();
    position: fixed;
    opacity: .1;
}

.bola.superior{
    top: -16rem;
    right: -18rem;
}

.bola.inferior{
    bottom: -17rem;
    right: 4rem;
    width: 10rem;
}