body{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 
    'header header'
    'left right'
    ;
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url('../assets/Ilustração.svg') no-repeat top/contain;
    position: relative;
    width: 756.64px;
    left: -90px;
    top: -4rem;
}

main{
    grid-area: right;
}

.flex-direction-main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

section input{
    padding: .8rem;
    border:2px solid var(--grey-blue);
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 50%;
}


section form > button{
    background-color: var(--blue);
    color: var(--white);
}

section form > button img, section div button img{
    padding-right: 2px;
}

section div button{
    background-color: var(--white);
    border: 2px solid var(--blue);
}

section div button p{
    color: var(--blue);
}

section div p{
    color: var(--grey-blue);
    font-family: Poppins, sans-serif;
    font-weight: 200;
}

#ou{
    margin:1.5rem;
}