body{
    width: auto;
    flex-direction: column;
}

#all{
    width: 80vw;
    margin: 0 auto;
}

main{
    width: 100%;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 3rem;
}

h2{
    font-weight: 700;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

#botao_branco{
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
    height: 3rem;
    margin-right: .5rem;
}

#botao_azul{
    background-color: var(--blue);
    color: var(--white);
    width: 10vw;
    height: 3rem;
}

/* Formulário */

#question-form form{
    border-radius: 0 1rem 1rem;
    border: 2px solid var(--grey-blue);
    margin-bottom: 1rem;
    height: 7.8rem;
}

#question-form form textarea{
    resize: none;
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    outline: none;
    overflow-y: hidden;
}

#question-form form footer{
    display: flex;
    justify-content: space-between;
}
#question-form form footer > button{
    width: 5rem;
    margin: .4rem 1.1rem;
    background-color: var(--blue);
    color: var(--white);
}

#question-form form textarea::placeholder{
    color: var(--grey-blue);
    font-family: 'Open Sans', sans-serif;
}
#question-form form footer > p{
    font-family: Poppins, sans-serif;
    color: var(--icons-details);
    font-size: .8rem;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}

#question-form form footer > p > img{
    width: fit-content;
    margin-right: .5rem;    
}

/* Perguntas postadas pelos membros da sala */

#questions .question{
    background-color: var(--light-blue);     
    border-radius: 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 7.8rem;
    margin-bottom: .5rem;
}

#questions .question .content{
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
}

#questions .question .content > img{
    width: 3.25rem;
    padding-top: 1rem;
    margin-right: .5rem;
}
#questions .question .content > p{    
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
}

#questions .question .action{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
}

#questions .question .action > p > img{
    width: .875rem;
    margin-right: .5rem;
}

#questions .question .action > p{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

#questions .question .action > p:nth-child(1){
    margin-right: .2rem;
}

#questions .question .action > p > a{
    color: var(--grey);
}